<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n
                <!--%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n-->
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>c:/viden/game-logger.log</file> <!-- Specify the path to your log file -->
        <append>false</append> <!-- Append to existing log file (if any) -->
        <encoder>
            <Pattern>
            %d{HH:mm:ss.SSS} %-5level %-22logger{0} %msg%n
<!--            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            </Pattern>
        </encoder>
    </appender>
<!--
    <logger name="dk.htr.games.minmax.four_in_row" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
-->
<!--    <logger name="dk.htr.games.minmax.four_in_row" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>-->

    <!-- Logger for com.example.MyClass -->
    <!--    <logger name="dk.htr.games.minmax.four_in_row.board.winning.BruteForceWinDetector" level="TRACE" additivity="false">
            <appender-ref ref="FILE" />
             <appender-ref ref="CONSOLE"/>
    </logger> -->

    <root level="INFO">
      <!--   <appender-ref ref="CONSOLE"/> -->
        <!-- <appender-ref ref="FILE"/> -->
    </root>
</configuration>